.site-header {
    background-color: var(--grey-space);
    color: var(--grey-light);
    padding: 2rem 0;
  }
  
  .site-header h1 {
    margin: 0 0 1rem 0;
  }
  
  .site-header a {
    color: var(--grey-light);
    text-decoration: none;
  }